<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles2.css">
        <h1>  Seleccione Opcion</h1>
        <body>
            <ul>
                <li><a href = "{{ url_for('RegistrarPaquete') }}"> Registrar Pedido</a></li>
                <li><a href = "{{ url_for('SeleccionarTransporte') }}"> Salida de Transporte</a></li>
                <li><a href = "{{ url_for('LlegadaTransporte') }}"> Llegada Transporte</a></li>
            </ul>
        </body>
    </head>
</html>