{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="{% static 'gestion/estilos.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <body>
            <h1>Ingrese Datos del paquete</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Registrar Paquete">
        </form>
        <div>
            <h3 class="vuelta">Sucursal Actual: {{ sucursal.numero}}, {{sucursal.provincia}}, {{ sucursal.localidad}}</h3>
            <a class="redi" href="{% url 'index' %}">Cambiar Sucursal</a>
        </div>   
        </body>
</html>