{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="{% static 'gestion/estilos.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <body>
            <h1>Salida de Transporte</h1>
            <h3>Elija una Sucursal</h3>
        <form method="POST">
            {% csrf_token %}
            <label for="paquetesSelec">Selecciona los paquetes:</label>
            {{ form.paquetes }}  <!-- Usamos el campo de paquetes ya configurado en el formulario -->
            <br><br>  
            <input type="submit" value="Registrar Transporte">
        </form>
        <div>
            <h3 class="vuelta">Sucursal Actual: {{ sucursal.numero}}, {{sucursal.provincia}}, {{ sucursal.localidad}}</h3>
            <a class="redi" href="{% url 'index' %}">Cambiar Sucursal</a>
        </div>
        </body>
</html>



